.env
.env.*
!.env.example

*.sqlite3
*.sqlite3.backup

__pycache__/
*.py[cod]
venv/
.venv/

node_modules/
dist/
dist-ssr/

technical-university-system/backend/staticfiles/
technical-university-system/backend/media/

technical-university-system/frontend/node_modules/
technical-university-system/frontend/dist/

.vscode/
.idea/
*.log